.highlight-pink {
  color: var(--primary-pink);
  font-weight: 700;
}

.highlight-purple {
  color: var(--primary-purple);
  font-weight: 700;
}

.highlight-orange {
  color: var(--primary-orange);
  font-weight: 700;
}

.highlight-green {
  color: var(--primary-green);
  font-weight: 700;
}
