:root {
  /* FONTS */
  --font-primary: 'Nunito', sans-serif;
  --font-secondary: 'Caveat', cursive;

  /* COLORS */
  --primary-light: #fff;
  --secondary-light: #bebebe;

  --primary-grey: #4c4c4c;

  --primary-pink: #e71b69;
  --primary-orange: #d45412;
  --primary-purple: #85509b;
  --primary-yellow: #f2c722;
  --primary-green: #2fac62;
}
