.category {
  &__container {
    background-image: url('../assets/background/pink-circles.svg');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 14rem;
    padding-bottom: 14rem;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
  }
}
