.productDetail {
  @include content-container-adjust;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    padding: 3rem 2rem 3rem 2rem;
    gap: 2rem;
    width: 85vw;
    border: 1px solid rgba($color: #000000, $alpha: 0.25);
    border-radius: 25px;
  }
  &__images {
    width: 100%;
    aspect-ratio: 1/1;
  }

  &__description {
    font-size: 2rem;
    position: relative;
    padding-top: 2rem;

    &::before {
      content: '';
      background-color: var(--secondary-light);
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      z-index: 100;
      border-radius: 50px;
    }
  }

  &__materials {
    font-size: 1.9rem;
  }
}

.return-back-icon {
  fill: var(--primary-pink);
}
