.productDetail {
  @include content-container-adjust;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    padding: 2rem;
    width: 85vw;
    border: 1px solid rgba($color: #000000, $alpha: 0.25);
    border-radius: 25px;
  }
  &__images {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .swiper-pagination-bullet {
    background: var(--primary-pink) !important;
    transform: translateY(-10px);
  }
}
