:root {
  /* FONTS */
  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Caveat", cursive;
  /* COLORS */
  --primary-light: #fff;
  --secondary-light: #bebebe;
  --primary-grey: #4c4c4c;
  --primary-pink: #e71b69;
  --secondary-pink: #ab0042;
  --primary-orange: #d45412;
  --primary-purple: #85509b;
  --primary-yellow: #f2c722;
  --primary-green: #2fac62;
  --header-height: 10rem;
  --navbar-height: 10rem;
  --content-height: calc(100vh - var(--header-height) - var(--navbar-height));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
}
@media (min-width: 37.5em) {
  html {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: var(--primary-grey);
  background-image: url("../assets/background/pink-circles.svg");
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.h2 {
  color: var(--primary-grey);
  font-size: 4rem;
}

.h3 {
  color: var(--primary-grey);
  font-size: 1.8rem;
}

.highlight-pink, .info__text-paragraph span:nth-of-type(1) {
  color: var(--primary-pink);
  font-weight: 700;
}

.highlight-purple, .cta__paragraph span:nth-of-type(1), .info__text-paragraph span:nth-of-type(2), .product__name {
  color: var(--primary-purple);
  font-weight: 700;
}

.highlight-orange, .cta__paragraph span:nth-of-type(2), .info__text-paragraph span:nth-of-type(3) {
  color: var(--primary-orange);
  font-weight: 700;
}

.highlight-green, .cta__paragraph span:nth-of-type(3), .info__text-paragraph span:nth-of-type(4) {
  color: var(--primary-green);
  font-weight: 700;
}

.polaroid, .product-category, .info__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-light);
  padding: 2rem 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  background-color: var(--primary-light);
  z-index: 100;
}
.header__logo {
  height: 100%;
}
.header__logo-img {
  height: 100%;
}

.navbar {
  background-color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  color: var(--primary-pink);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.navbar__items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.navbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  list-style: none;
  font-weight: 700;
  width: 9rem;
  height: 9rem;
  border-radius: 25px;
  gap: 0.5rem;
  transition: color 0.2s linear;
  transition: background-color 0.2s linear;
}
.navbar__item-icon {
  fill: currentColor;
  height: 2.5rem;
}
.navbar__item.on-this-page {
  color: var(--primary-light);
  background-color: var(--primary-pink);
  border-radius: 25px;
  font-weight: 400;
}

.product {
  width: 20rem;
}
.product__size {
  font-size: 1.5rem;
}
.product__images {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 90%;
  margin: 1rem;
}

.swiper-pagination-bullet {
  background: var(--primary-pink) !important;
  transform: scale(1.2);
}

.hero,
.info,
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--content-height);
  gap: 3rem;
}

/* PARALLAX BACKGROUNDS*/
.background-one,
.background-two {
  background-image: url("../assets/logo/snura-transparent.png"), linear-gradient(#fff, #fff);
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
@supports not (-webkit-touch-callout: none) {
  .background-one,
  .background-two {
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
  }
}
@media only screen and (min-width: 37.5em) {
  .background-one,
  .background-two {
    height: var(--content-height);
  }
}

.background-two {
  background-image: url("../assets/logo/snura3.jpg"), linear-gradient(#fff, #fff);
}

/* HERO SECTIONS */
.hero {
  background-image: url("../assets/background/pink-circles.svg"), linear-gradient(#fff, #fff);
  margin-top: var(--header-height);
}
.hero__title {
  font-size: 4rem;
  text-align: center;
}
.hero__title span {
  color: var(--primary-pink);
  letter-spacing: 1rem;
}
.hero__paragraph {
  font-size: 3rem;
  text-align: center;
  padding: 0 5rem;
}
.hero__paragraph span {
  color: var(--primary-green);
  font-weight: 700;
}

/* INFO SECTION*/
.info {
  background-image: url("../assets/background/green-circles.svg"), linear-gradient(#fff, #fff);
  height: calc(100vh - var(--navbar-height));
}
.info__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.info__text-paragraph {
  font-size: 2.8rem;
  padding: 0 3.5rem;
}
@media only screen and (min-width: 64em) {
  .info__text {
    max-width: 45%;
  }
}
.info__image {
  display: none;
}
@media only screen and (min-width: 64em) {
  .info__image {
    display: flex;
    width: 300px;
    height: 360px;
    transform: rotateZ(15deg) translate(-50px, 10px);
  }
}
.info__image img {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 64em) {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* CTA SECTION*/
.cta {
  background-image: url("../assets/background/pink-circles.svg"), linear-gradient(#fff, #fff);
  height: calc(100vh - var(--navbar-height));
  margin-bottom: var(--navbar-height);
  gap: 3rem;
}
.cta__heading {
  font-size: 4rem;
}
.cta__paragraph {
  font-size: 2.8rem;
  padding: 0 5rem;
}
.cta__paragraph:nth-of-type(2) {
  text-align: center;
}
.cta__button {
  background: none;
  border: none;
  background-color: var(--primary-green);
  padding: 2rem 5rem;
  font-size: 3rem;
  color: var(--primary-light);
  border-radius: 25px;
  cursor: pointer;
}
.cta__button:hover, .cta__button:active {
  background-color: var(--primary-pink);
  transform: scale(0.98);
  box-shadow: 2px 2px 3px var(--primary-pink);
}
.cta__link {
  font-weight: 700;
  color: var(--primary-green);
  text-decoration: underline dotted;
}
.cta__link:hover, .cta__link:active {
  color: var(--primary-pink);
  text-decoration: underline;
}

.contact__container {
  background-image: url("../assets/background/green-circles.svg"), linear-gradient(#fff, #fff);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.contact__heading {
  text-align: center;
}
.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  padding: 2rem;
  background-color: var(--primary-light);
  width: 80vw;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.04);
}
.contact__item-span {
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--primary-green);
}
.contact__item-icon {
  fill: var(--primary-green);
  width: 2.5rem;
  height: 2.5rem;
  margin-right: auto;
}
.contact__itema {
  cursor: pointer;
}
.contact__item:first-of-type span {
  font-weight: 400;
}

.products-category-container {
  min-height: var(--content-height);
  margin-top: calc(var(--header-height));
  margin-bottom: var(--navbar-height);
  padding: 4rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 37.5em) {
  .products-category-container {
    flex-direction: row;
    padding: 0 3rem 0 3rem;
  }
}

.product-category {
  margin: 2rem;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 64em) {
  .product-category {
    transform: scale(1.5);
  }
}
.product-category .product-category-image-container, .product-category .product-category__image-adults, .product-category .product-category__image-stockings, .product-category .product-category__image-socks {
  width: 140px;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
}
.product-category .product-category__image-socks {
  background-image: url("../assets/images/socks-pink.jpg");
}
.product-category .product-category__image-stockings {
  background-image: url("../assets/images/stockings-blue.jpg");
}
.product-category .product-category__image-adults {
  background-image: url("../assets/images/adults.jpg");
}
.product-category__name {
  font-size: 4rem;
  color: var(--primary-grey);
  font-family: var(--font-secondary);
}
.product-category:hover, .product-category:active {
  transform: scale(1.1);
}
@media only screen and (min-width: 64em) {
  .product-category:hover, .product-category:active {
    transform: scale(1.7);
  }
}

#products-adults span {
  letter-spacing: -2px;
  text-align: center;
}

.category__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14rem;
  padding-bottom: 14rem;
}
.category__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.product-detail__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--content-height);
}

.db {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.db__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}
.db__form-label {
  font-size: 2rem;
}
.db__form-input {
  font-size: 2rem;
}
.db__form-button {
  border: none;
  background-color: var(--primary-pink);
  color: white;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
}
.db input,
.db select {
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
