.polaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-light);
  text-decoration: none;
  padding: 2rem 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 240px;
}
